<%- include shared/_header %>
<%- include shared/_top %>
<%- include shared/_sidebar %>
        
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<!-- BEGIN CONTENT BODY -->
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
				广视明宇-视界5.0 <small></small>
			</h3>		
			<!-- END PAGE HEADER-->
		
			<!-- BEGIN PAGE CONTENT-->
			<div class="row"> 
				<div class="col-md-9 col-sm-6" style="width:100%; ">
					<!-- BEGIN PORTLET-->
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption">
								<i class="icon-share font-red-sunglo"></i>
								<span class="caption-subject font-green-sharp bold uppercase">最新信息</span>
							</div>
							
						</div>
						<div class="portlet-body" style="min-height:500px; height:100%;">
							<!--BEGIN TABS-->
							<div class="tab-content">
								<div class="tab-pane active" id="tab_1_1">
									<div class="scroller" style="height: 500px;" data-always-visible="1" data-rail-visible="0">
										<!--
										<ul class="feeds" id="grid">
											<li v-for = "item in DataList">
												<div class="col1">
													<div class="cont">
														<div class="cont-col1">
															<div class="label label-sm label-success">
																<i class="fa fa-bell-o"></i>
															</div>
														</div>
														<div class="cont-col2">
															<div class="desc">
																	{{ item.VehicleNo}} 在 {{new Date(item.AddTime).toUTCFormat('YYYY-MM-DD HH24:MI:SS')}}  发生漏油 {{item.AddOil }}  升
																
															</div>
														</div>
													</div>
												</div>											 
											</li>
										</ul>-->
									</div>
								</div>								 
						
							</div>
							<!--END TABS-->
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
		<!-- END CONTENT BODY -->
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
    
<%- include shared/_bottom %>
<%- include shared/_scripts %>
 <script src="/javascripts/include/date-utils.min.js"></script>
 <!--<script src="/javascripts/index.js"></script>-->
<%- include shared/_footer %>