<%- include ./shared/_header %>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/bootstrap-datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
<link href="../stylesheets/pricing.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<%- include ./shared/_top %>
<%- include ./shared/_sidebar %>

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
	 <div class="page-content">
		<!-- BEGIN PAGE HEADER-->
		<h1 class="page-title">
		我要代理 <small>全国统一零售价158元/盒</small>
		</h1>
		<!-- END PAGE HEADER-->
		
		<!-- BEGIN PAGE CONTENT-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-share font-green"></i>
					<span class="caption-subject font-green bold uppercase">我要代理</span>
				</div>
				 
			</div>
			<div class="portlet-body">
				<div class="pricing-content-1">
					<div class="row">
						<div class="col-md-3">
							<div class="price-column-container border-active">
								<div class="price-table-head bg-green">
									<h2 class="no-margin">探花代理</h2>
								</div>
								<div class="arrow-down border-top-green"></div>
								<div class="price-table-pricing">
									<h3>
										<sup class="price-sign">¥</sup>2200</h3>
									<p>&nbsp</p>
								</div>
								<div class="price-table-content">
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-feed"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">单价：¥110</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-drawer"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">首批提货量：20(支)</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-screen-smartphone"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">金额：¥2200</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-refresh"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">补货量：20(支)</div>
									</div>
								</div>
								<div class="arrow-down arrow-grey"></div>
								<div class="price-table-footer">
									<button type="button" class="btn green price-button sbold uppercase">快速下单</button>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="price-column-container border-active">
								<div class="price-table-head bg-purple">
									<h2 class="no-margin">状元代理</h2>
								</div>
								<div class="arrow-down border-top-purple"></div>
								<div class="price-table-pricing">
									<h3>
										<sup class="price-sign">¥</sup>24000</h3>
									<p>&nbsp</p>
									<div class="price-ribbon">热销</div>
								</div>
								<div class="price-table-content">
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-feed"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">单价：¥75</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-drawer"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">首批提货量：320(支)</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-screen-smartphone"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">金额：¥24000</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-refresh"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">补货量：160(支)</div>
									</div>
								</div>
								<div class="arrow-down arrow-grey"></div>
								<div class="price-table-footer">
									<button type="button" class="btn green price-button sbold uppercase">快速下单</button>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="price-column-container border-active">
								<div class="price-table-head bg-red">
									<h2 class="no-margin">榜眼代理</h2>
								</div>
								<div class="arrow-down border-top-red"></div>
								<div class="price-table-pricing">
									<h3>
										<sup class="price-sign">¥</sup>7200</h3>
									<p>&nbsp</p>
									
								</div>
								<div class="price-table-content">
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-feed"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">单价：¥90</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-drawer"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">首批提货量：80(支)</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-screen-smartphone"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">金额：¥7200</div>
									</div>
									<div class="row mobile-padding">
										<div class="col-xs-3 text-right mobile-padding">
											<i class="icon-refresh"></i>
										</div>
										<div class="col-xs-9 text-left mobile-padding">补货量：40(支)</div>
									</div>
								</div>
								<div class="arrow-down arrow-grey"></div>
								<div class="price-table-footer">
									<button type="button" class="btn green price-button sbold uppercase">快速下单</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT-->
		 
	  </div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


<%- include shared/_bottom %>
<%- include shared/_scripts %>
<script src="../assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-paginator/bootstrap-paginator.js"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/bootstrap-datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="/javascripts/include/date-utils.min.js"></script>
<script src="/javascripts/include/query.js"></script>
<%- include shared/_footer %>
