<%- include ./shared/_header %>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../assets/global/plugins/bootstrap-datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
<%- include ./shared/_top %>
<%- include ./shared/_sidebar %>

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
	     <div class="page-content">
		    <!-- BEGIN PAGE HEADER-->
		    <h3 class="page-title">
		    修改密码 <small>......</small>
		    </h3>
		    <!-- END PAGE HEADER-->
		     
			<!-- BEGIN PAGE CONTENT-->
            <div class="row">
              <div class="col-md-12">
                <div class="portlet box green">
	  
		        </div>
              </div>
            </div>
            <!-- END PAGE CONTENT-->
          </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->


<%- include shared/_bottom %>
<%- include shared/_scripts %>
	<script src="../assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
	<script src="../assets/global/plugins/bootstrap-paginator/bootstrap-paginator.js"></script>
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="../assets/global/plugins/bootstrap-datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
	<script src="../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<script src="/javascripts/include/moment.min.js"></script>
	<script src="/javascripts/include/query.js"></script>
	<script src="/javascripts/users.js" type="text/javascript"></script>
<%- include shared/_footer %>
