<%- include ./shared/_header %>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/profile.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css" />
    <!-- END PAGE LEVEL PLUGINS -->
<%- include ./shared/_top %>
<%- include ./shared/_sidebar %>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
	     <div class="page-content">
		    <!-- BEGIN PAGE HEADER-->
		    <h3 class="page-title">
		    智能垃圾桶 <small>......</small>
		    </h3>
		    <!-- END PAGE HEADER-->
		    
			<!-- BEGIN PAGE CONTENT-->
			 <div class="row">
				 <div class="col-md-12">
					 <div class="profile-sidebar">
						 <div class="portlet light profile-sidebar-portlet">
							 <div class="portlet-title">
								 <div class="caption">
									 <i class="icon-social-dribbble font-blue-sharp"></i>
									 <span class="caption-subject font-blue-sharp bold uppercase">垃圾桶信息</span>
								 </div>
							 </div>
							 <div class="portlet-body">
								 <div id="tree_group" class="tree-demo">
								 </div>
							 </div>
						 </div>
					 </div>

					 <div class="profile-content" >
						 <div class="row">
							 <div class="col-md-12" >
								 <div class="portlet light map" style="overflow:hidden;">
									 <div id="container" ></div>
								 </div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
			<!-- END PAGE CONTENT-->
		 </div>
	</div>
	<!-- END CONTENT -->


<%- include shared/_bottom %>
<%- include shared/_scripts %>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/es5.min.js"></script>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=e12cc6ed395c712532ee84dabf3467d0&plugin=AMap.Geocoder"></script>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="../assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="/javascripts/include/map.js"></script>
	<script type="text/javascript" src="/javascripts/include/date-utils.min.js"></script>
	<script type="text/javascript" src="/javascripts/include/query.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
<%- include shared/_footer %>
