<%- include shared/_header %>
<%- include shared/_scripts %>
<%- include shared/_top %>
<%- include shared/_sidebar %>
        <div id="loading">
			<img src="/images/loading.gif" alt="loading" />
		</div>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
		      <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
            接口测试 <small>测试手机端接口</small>
            </h3>
             
            <div class="box box-solid">
                <div class="box-body">
                    <%- include control/_group %>
                    <div  class="box box-success">
                       
                        <div  class="box-body chart-responsive">
                          <form  id='fuel'>
                            <label class="control-label" >车牌号：</label><input type="text" name="vehicleid" />
                           <label class="control-label" >时间：</label><input type="text" name="fueltime" class="form_datetime" />
                           <label class="control-label" >油价：</label><input type="text" name="price" />
                           <label class="control-label" >油升：</label><input type="text" name="number" />
					       <label class="control-label" >价钱：</label><input type="text" name="amount" />
                           <label class="control-label" >地点：</label><input type="text" name="station" />                            
                          </form>
                        </div>
                         <div class="box-footer with-border">
                            <button type="button" id="btnFuel" class="btn btn-success"> 手动输入加油 </button>
                        </div>
                    </div>

                     <div id="ticket"  class="box box-success">
                       
                        <div class="box-body chart-responsive">
                                                       
                        </div>
                         <div class="box-footer with-border">
                            <button type="button" id="btnTicket" class="btn btn-success"> 获取油票接口 </button>
                        </div>
                    </div>

                    <div id="used"  class="box box-success">                       
                        <div class="box-body chart-responsive">                           
                        </div>
                        <div class="box-footer with-border">
                             <button type="button" id="btnUsed" class="btn btn-success"> 获取用油接口 </button>
                        </div>
                    </div>
                    
                    <div  class="box box-success">
                       
                        <div class="box-body chart-responsive">
                           <form id="change">
                               <label class="control-label" >车牌号：</label><input type="text" name="vehicleid" />
                               
                           </form>                               
                        </div>
                         <div class="box-footer with-border">
                             <button type="button" id="btnChange" class="btn btn-success"> 查询更换机油 </button>
                        </div>
                    </div>
                 
                    
                  <div  class="box box-success">                       
                        <div class="box-body chart-responsive">
                           <form id="cell">
                               <label class="control-label" >车牌号：</label><input type="text" name="vehicleid" />
                           </form>                            
                        </div>
                         <div class="box-footer with-border">
                             <button type="button" id="btnCell" class="btn btn-success"> 查询空气格 </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- END PAGE HEADER-->
          </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    
<%- include shared/_bottom %>

	<script src="/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
	<script src="/plugins/pagination/bootstrap-paginator.js"></script>
	<script src="/javascripts/include/date-utils.min.js"></script>
    <script src="/javascripts/include/init.js"></script>
	<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
	<script src="/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>


	
    <script>
        $(function(){
            $("#btnFuel").click(function(){
                var data ={}        
                var ctrls = $('#fuel').serializeArray();        
                for(var c in ctrls){
                    data[ctrls[c].name]=ctrls[c].value;
                }
 
                $.post('/fuel_up/add', data, function(result){
                    alert(result.ok);
                })
            });

            $("#btnTicket").click(function(){
                var data ={}        
                var ctrls = $('#fuel').serializeArray();        
                for(var c in ctrls){
                    data[ctrls[c].name]=ctrls[c].value;
                }

                $.post('/api/fuel', data, function(result){
                    alert(result.ok);
                })
            });

            $("#btnUsed").click(function(){
                $.get('/api/fuel', function(result){
                    alert(result.ok);
                })
            });

            $("#btnChange").click(function(){
                var data ={}        
                var ctrls = $('#change').serializeArray();        
                for(var c in ctrls){
                    data[ctrls[c].name]=ctrls[c].value;
                }

                $.post('/api/oil_change', function(result){
                    alert(result.ok);
                })
            });

            $("#btnCell").click(function(){
                var data ={}        
                var ctrls = $('#cell').serializeArray();        
                for(var c in ctrls){
                    data[ctrls[c].name]=ctrls[c].value;
                }

                $.post('/api/air_cell', function(result){
                    alert(result.ok);
                })
            });
        });
    </script>
<%- include shared/_footer %>
