
<%- include ./shared/_header %>    
<%- include ./shared/_top %>   

    <!-- Make sure all your bars are the first things in your <body> -->
    <div class="toolbar">
	<div class="toolbar-inner">
		<h1 class="title">鼎丰泰达-货车油管家</h1>
	</div>
</div>
<div class="weui-grids">
	<a href="fuel_up" class="weui-grid js_grid">
		<div class="weui-grid__icon">
		  <img src="images/icon_nav_article.png" alt="">
		</div>
		<p class="weui-grid__label">
		  加油记账
		</p>
	</a>
	<a href="/oil_ticket" class="weui-grid js_grid">
		<div class="weui-grid__icon">
		  <img src="images/icon_nav_calendar.png" alt="">
		</div>
		<p class="weui-grid__label">
		  我的油票
		</p>
	</a>
	<a href="gps_oil_add" class="weui-grid js_grid">
		<div class="weui-grid__icon">
		  <img src="images/icon_nav_button.png" alt="">
		</div>
		<p class="weui-grid__label">
		  加油记录
		</p>
	</a>
	<a href="gps_oil_leak" class="weui-grid js_grid">
		<div class="weui-grid__icon">
		  <img src="images/icon_nav_tab.png" alt="">
		</div>
		<p class="weui-grid__label">
		  漏油告警
		</p>
	</a>
	<a href="gps_traffic" class="weui-grid js_grid">
		<div class="weui-grid__icon">
		  <img src="images/icon_nav_swiper.png" alt="">
		</div>
		<p class="weui-grid__label">
		  行驶轨迹
		</p>
	</a>
	 
</div>
<%- include ./shared/_bottom %>
	<%- include ./shared/_scripts %>

<%- include ./shared/_footer %>
