
<%- include ./shared/_header %>  
<%- include ./shared/_top %>   

<header class="bar bar-nav">
<a class="icon icon-left-nav pull-left" href="/" ></a>
  <h1 class="title">加油记账</h1>
</header>


<div class="content">
  
  <form id="fuel-form" class="input-group">
      
      <ul class="table-view">     
        <li class="table-view-cell">车辆：
            <select id='vehicleID' name ="vehicleID">              
                <% vehicles.forEach(function(item){ %>
                    <option value="<%=item.VehicleID%>" ><%=item.VehicleNo%></option>
                <% }) %> 
            </select>  
        </li>
        <li class="table-view-cell">时间：<input type="date" name="fueltime"  value = "<%=today%>"></li>
        <li class="table-view-cell">总金额：<input type="number" name="amount" ></li>
        <li class="table-view-cell">升数：<input type="number" name="number" onblur="calc_price(this.value);"></li>
        <li class="table-view-cell">油价：<input type="number" name="price" ></li>
        <li class="table-view-cell">地点：<input type="text" name="station" ></li>
        
      </ul>
      <button id="btnAdd" class="btn btn-primary btn-block">加油记账</button>
    </form>
</div>

<%- include ./shared/_scripts %>
<script src="/javascripts/fuel_up.js"></script>

<%- include ./shared/_footer %>
