
<%- include ./shared/_header %>  
<%- include ./shared/_top %>   

<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="javascript:history.go(-1)" ></a>
  <a class="icon icon-search pull-right" href="#searchModal"></a>
  <h1 class="title">行驶轨迹</h1>
</header>

<div id = "grid" class="content  top-title bottom-title">
  <ul  class="table-view" v-if = "DataList.length > 0">
    <li class="table-view-cell media" v-for = "(item, index) in DataList">
        <img class="media-object pull-left" src="images/arrow_icon.png">   
        <div class="media-body">
          {{item.VehicleNo}}
          <p>时间：{{item.CreateDate}}</p>
          <p>距离：{{item.Distance.toFixed(2)}}</p>
          <p>油耗：{{item.OilUsed.toFixed(2)}}</p>
          <p><a href='#' v-on:click="showTraffic(item.ID)">查看轨迹</a></p>
        </div>

    </li>
  </ul>
  <ul class="table-view" v-else>
    <li class="table-view-cell">
      没有数据
    </li>
  </ul>
</div>
<nav id="page" class="bar bar-tab">
    <a class="tab-item" id="more" href="javascript:void(0)">
      加载更多
  </a>
</nav>

<%- include ./control/_map %>
<%- include ./control/_search-page %>
<%- include ./shared/_scripts %>
<%- include ./shared/_popup %>
<%- include ./control/_search-js %>
<script src="/javascripts/include/date-utils.min.js"></script>
<script src="/javascripts/include/query.js"></script>
<script src="/javascripts/gps_traffic.js"></script>
<%- include ./shared/_footer %>
