
<%- include ./shared/_header %>
<%- include ./shared/_top %>

<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="/"></a>
    <a class="icon icon-search pull-right" href="#searchModal"></a>
    <h1 class="title">区间油耗</h1>
</header>

<div id = "grid" class="content  top-title bottom-title">
    <ul  class="table-view" v-if = "DataList.length > 0">
        <li class="table-view-cell media" v-for = "(item, index) in DataList">
            <img class="media-object pull-left" src="images/arrow_icon.png">
            <div class="media-body" v-cloak>
                {{item.VehicleNo}}
                <p>油耗：{{Number(Number(item.First_Oil)+Number(item.total)-Number(item.Last_Oil)).toFixed(2)}}L</p>
                <p>时间：{{new Date(item.First_Time).toUTCFormat('YYYY-MM-DD HH24:MI')}} ~ {{new Date(item.Last_Time).toUTCFormat('YYYY-MM-DD HH24:MI')}}</p>
            </div>
        </li>
    </ul>
    <ul class="table-view" v-else>
        <li class="table-view-cell" v-cloak>
            {{MsgInfo}}
        </li>
    </ul>
</div>
<nav id="page" class="bar bar-tab">
    <a class="tab-item" id="more" href="javascript:void(0)">
        加载更多
    </a>
</nav>
<a href="javascript:;" onClick="window.location.href='/mobile/<?php echo rand(0,77); ?>';">刷新本页</a>
<%- include ./control/_map %>
<%- include ./control/_search-page-section %>
<%- include ./shared/_scripts %>
<%- include ./shared/_popup %>
<%- include ./control/_search-section-js %>
<script>
</script>
<script src="/javascripts/include/date-utils.min.js"></script>
<script src="/javascripts/include/query.js"></script>
<script src="/javascripts/gps_section.js"></script>
<script src="/javascripts/include/date_now.js"></script>
<%- include ./shared/_footer %>
