
<%- include ./shared/_header %>  
<%- include ./shared/_top %>   

<!-- <header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="javascript:history.go(-1)" ></a>
  <a class="icon icon-search pull-right" data-target="#half" href="javascript:;"></a>
  <h1 class="title">漏油记录</h1>
</header>  -->
<div class="toolbar">
	<div class="toolbar-inner">
		<h1 class="title">鼎丰泰达-货车油管家</h1>
	  <a class="icon icon-left-nav pull-left" href="/" ></a>
    <a class="icon icon-search pull-right" data-target="#half" href="javascript:;"></a>
</div></div>
<div class="weui-cells__title">未读数红点跟在主题信息后，统一在列表左侧</div>
<div id = "grid" class="weui-cells " v-if = "DataList.length > 0">
      <div class="weui-cell weui-cell_access" v-for = "(item, index) in DataList">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="images/pic_160.png" style="width: 50px;display: block">
         
        </div>
        <div class="weui-cell__bd">
          <p>{{item.VehicleNo}}</p>
          <p>记录时间：{{new Date(item.AddTime).toUTCFormat('YYYY-MM-DD HH24:MI:SS')}}</p>
          <p>上次油量：{{item.PreOil}}</p>
          <p>漏油油量：{{item.AddOil}}</p>
          <p>当前油量：{{item.CurOil}}</p>
          <p><a href='#' v-on:click="showMap(item.Lat,item.Lng)">查看定位</a></p>
        </div>

</div>

<!-- <div id = "grid" class="content  top-title bottom-title">
  <ul  class="table-view" v-if = "DataList.length > 0">
    <li class="table-view-cell media" v-for = "(item, index) in DataList">    
        <img class="media-object pull-left" src="images/arrow_icon.png">         
        <div class="media-body">
          {{item.VehicleNo}}
          <p>记录时间：{{new Date(item.AddTime).toUTCFormat('YYYY-MM-DD HH24:MI:SS')}}</p>
          <p>上次油量：{{item.PreOil}}</p>
          <p>漏油油量：{{item.AddOil}}</p>
          <p>当前油量：{{item.CurOil}}</p>
          <p><a href='#' v-on:click="showMap(item.Lat,item.Lng)">查看定位</a></p>
        </div>

    </li>
  </ul>
  <ul class="table-view" v-else>
    <li class="table-view-cell">
       {{MsgInfo}}
    </li>
  </ul>
</div>
<nav id="page" class="bar bar-tab">
    <a class="tab-item" id="more" href="javascript:void(0)">
      加载更多
  </a>
</nav> -->


<%- include ./control/_map %>
<%- include ./control/_search-page %>
<%- include ./shared/_scripts %>
<%- include ./shared/_popup %>
<%- include ./control/_search-js %>
<script src="/javascripts/include/map.js"></script>
<script src="/javascripts/include/date-utils.min.js"></script>
<script src="/javascripts/include/query.js"></script>
<script src="/javascripts/gps_oil_leak.js"></script>
<%- include ./shared/_footer %>
