
<%- include ./shared/_header %>
<%- include ./shared/_top %>

<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="/" ></a>
    <a class="icon icon-search pull-right" href="#searchModal"></a>
    <h1 class="title">智能垃圾桶</h1>
</header>

<div id = "grid" class="content  top-title bottom-title">
    <ul  class="table-view" v-if = "DataList.length > 0">
        <li class="table-view-cell media" v-for = "(item, index) in DataList">
            <img class="media-object pull-left" src="images/arrow_icon.png">
            <div class="media-body" v-cloak>
                {{item.GPSID}}
                <p>垃圾桶状态：{{ (item.Content==0.01) ? "空" : ( item.Content>0.01 && item.Content<97 ? "有" : ( item.Content>=97 && item.Content<99) ? "快满" : ( item.Content>=99 && item.Content<100) ? "满":( item.Content==100) ? "很满" : item.Content  ) }}</p>
                <p>
                    <span>电量：{{ item.Energy }}%</span>；<span>重量：{{ item.Weight }}kg</span>
                </p>
                <p>
                    <span>C1：{{ item.C1 }}pF</span>；<span>C2：{{ item.C2 }}pF</span>
                </p>
                <p v-if="item.GPSStatus==1">经纬度：{{item.Lat}},{{item.Lng}}</p>
                <p v-else>经纬度：{{"尚未更新"}}</p>
                <p v-if="item.GPSStatus==1"><a href='#' v-on:click="showMap(item.Lat,item.Lng)">查看定位</a></p>
                <p v-else>定位：{{"尚未更新"}}</p>
                <p>记录时间：{{ new Date(item.AddTime).toUTCFormat('YYYY-MM-DD HH24:MI:SS') }}</p>
            </div>

        </li>

    </ul>
    <ul class="table-view" v-else>
        <li class="table-view-cell" v-cloak>
            {{MsgInfo}}
        </li>
    </ul>
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
</div>

<%- include ./control/_map %>
<%- include ./control/_search-page %>
<%- include ./shared/_scripts %>
<%- include ./shared/_popup %>
<%- include ./control/_search-js-rubbish %>
<script src="/javascripts/include/map.js"></script>
<script src="/javascripts/include/date-utils.min.js"></script>
<script src="/javascripts/include/query.js"></script>
<script src="/javascripts/gps_rubbish.js"></script>
<%- include ./shared/_footer %>
